%% -*- erlang -*-
%% See: http://erlang.org/doc/man/compile.html for documentation of these opts
{erl_opts,
 [ debug_info
 , warn_unused_import
 , warnings_as_errors
 , {platform_define, "^[0-9]+", namespaced_types}
 ]}.

{deps,
 [ {eper  , {git, "https://github.com/massemanet/eper.git",    {tag, "0.97.6"}}}
 ]}.

{eunit_opts,
 [ verbose
 , {report, {eunit_surefire,
             [ {dir,".eunit"}
             ]}}
 ]}.

%% Coverage report does not seem to be generated???
{cover_enabled, true}.
{cover_opts, [ verbose
             ]}.
{cover_export_enabled, true}.

{ct_opts,
 [ {logdir, ".ct"}
 , {sys_config, "config/sys_dev.config"}
 ]}.

%% No JUnit XML report seems to be generated???
{ct_extra_params, "-ct_hooks cth_surefire"}.

{xref_checks,
 [ deprecated_function_calls
 , undefined_function_calls
 ]}.

{relx,
 [ {release, {advent_of_code, "0.0.1"},
    [ advent_of_code
    ]}
   %% Default sys_config for local development
 , {sys_config, "config/sys_dev.config"}
 , {vm_args, "config/vm.args"}
 , {dev_mode, true}
 , {include_erts, true}
 , {extended_start_script, true}
 ]}.

%% Using '-' in atoms is not allowed unless we create atoms using 'atom()'
%% Reason for doing so is the ENV variable which determines which profile to use
%% is used further down the line
{profiles,
 [ {test,
    [ {deps,
       [ {meck, {git, "https://github.com/eproxus/meck.git",  {tag, "0.8.9"}}}
       ]}
    , {overrides,
       [ {override,
          [ {erl_opts,
             [ debug_info
             , warn_unused_import
             , warnings_as_errors
             , {platform_define, "^[0-9]+", namespaced_types}
             ]}
          ]}
       ]}
    ]}
 , {elvis,
    [ {deps,
       [ {elvis, {git, "https://github.com/inaka/elvis.git", {tag, "0.4.1"}}}
       ]}
    ]}
 ]
}.

{plugins,
 [ {relv, ".*", {git, "https://github.com/zsoci/rebar3relx.git", {branch, "master"}}}
 ]}.

{dialyzer,
 [ {plt_apps, all_deps}
 , {warnings, [ unknown
              ]}
 ]}.
