[
 { lager,
   [ {log_root, "log"}
   , {crash_log, "crash.log"}
   , {handlers,
      [ {lager_console_backend,
         [debug,
          {lager_default_formatter,
           [date, " ", time," [",severity,"] ", pid, " ", message, "\r\n"]
          }
         ]
        }
      , {lager_file_backend,
         [ {file, "advent_of_code.log"}
         , {level, debug}
         , {size, 104857600}
         , {count, 5}
         , {formatter_config,
            [date, " ", time," [",severity,"] ", pid, " ", message, "\r\n"]
           }]
        }]
     }
   , {error_logger_hwm, 500}
   ]},
 { advent_of_code, [
                   ]}
].
